.intro {
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: black;
}

.left-panel {
    padding: 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}