.book-details {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

ul.review-popup {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

ul.review-popup li {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.review-form {
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  height: 100px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 20px;
}
